In [1]:
import pandas as pd

In [2]:
# dnase_name_counts=pd.read_csv("configs/data/counts.tomtom_dnase.tsv",sep="\t")
# atac_name_counts=pd.read_csv("configs/data/counts.tomtom.tsv",sep="\t")
dnase_name_counts=pd.read_html("/oak/stanford/groups/akundaje/projects/chromatin-atlas-2022/chrombpnet/folds/DNASE/K562/merge_folds_new_may_05_24/profile/motifs.html")
atac_name_counts=pd.read_html("/oak/stanford/groups/akundaje/projects/chromatin-atlas-2022/chrombpnet/folds/ATAC/K562/merge_folds_new_may_05_24/profile/motifs.html")

In [3]:
dnase_name_counts[0]

,pattern,num_seqlets,modisco_cwm_fwd,modisco_cwm_rev,match0,qval0,match0_logo,match1,qval1,match1_logo,match2,qval2,match2_logo
0,pos_patterns.pattern_0,51499,NaN,NaN,GATA3_GATA_1,3.208120e-01,NaN,GATA3_GATA_2,3.208120e-01,NaN,GATA3_MA0037.3,3.208120e-01,NaN
1,pos_patterns.pattern_1,45868,NaN,NaN,CTCF_MA0139.1,3.244340e-16,NaN,CTCF_HUMAN.H11MO.0.A,2.169000e-12,NaN,CTCF_MOUSE.H11MO.0.A,2.712980e-11,NaN
2,pos_patterns.pattern_2,42023,NaN,NaN,KLF6_HUMAN.H11MO.0.A,2.800260e-05,NaN,KLF6_MOUSE.H11MO.0.B,2.800260e-05,NaN,SP1_MA0079.3,2.800260e-05,NaN
3,pos_patterns.pattern_3,24300,NaN,NaN,BACH2_HUMAN.H11MO.0.A,1.941400e-05,NaN,BACH2_MOUSE.H11MO.0.A,1.941400e-05,NaN,FOSL2_MOUSE.H11MO.0.A,1.941400e-05,NaN
4,pos_patterns.pattern_4,10338,NaN,NaN,ETS1_MOUSE.H11MO.0.A,4.837580e-05,NaN,ELF5_ETS_1,4.837580e-05,NaN,ELF5_ETS_2,4.837580e-05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,neg_patterns.pattern_9,154,NaN,NaN,ZN770_HUMAN.H11MO.0.C,1.988900e-07,NaN,ZSC22_HUMAN.H11MO.0.C,1.092020e-01,NaN,MAF_MOUSE.H11MO.0.A,1.215630e-01,NaN
76,neg_patterns.pattern_10,125,NaN,NaN,NR1D2_MOUSE.H11MO.0.A,1.062470e-02,NaN,STAT1_MOUSE.H11MO.0.A,4.758000e-02,NaN,NR1D1_HUMAN.H11MO.0.B,4.758000e-02,NaN
77,neg_patterns.pattern_11,116,NaN,NaN,ATF1_HUMAN.H11MO.0.B,1.763130e-04,NaN,CREB1_HUMAN.H11MO.0.A,1.763130e-04,NaN,CREB1_MOUSE.H11MO.0.A,1.763130e-04,NaN
78,neg_patterns.pattern_12,103,NaN,NaN,NFYA_HUMAN.H11MO.0.A,2.271790e-03,NaN,NFYA_MOUSE.H11MO.0.A,2.271790e-03,NaN,NFYC_HUMAN.H11MO.0.A,2.271790e-03,NaN
79,neg_patterns.pattern_13,49,NaN,NaN,SP3_HUMAN.H11MO.0.B,4.991640e-09,NaN,SP3_MOUSE.H11MO.0.B,4.991640e-09,NaN,SP1_HUMAN.H11MO.0.A,4.991640e-09,NaN

In [4]:

dnase_name_counts=dnase_name_counts[0][~dnase_name_counts[0]['pattern'].str.contains("neg",case=False)] 
atac_name_counts=atac_name_counts[0][~atac_name_counts[0]['pattern'].str.contains("neg",case=False)]

In [5]:
dnase_name_counts["pattern_short"] = "0_"+dnase_name_counts['pattern'].str.split("_").str[2]
atac_name_counts["pattern_short"] = "0_"+atac_name_counts['pattern'].str.split("_").str[2]

/users/anusri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
atac_name_counts = atac_name_counts[["pattern_short", "num_seqlets"]]
dnase_name_counts = dnase_name_counts[["pattern_short", "num_seqlets"]]

In [7]:
atac_labels = pd.read_csv("configs/nov_14_2024/atac_profile_annotations.tsv", sep=",", names=["pttns","Label"])
dnase_labels = pd.read_csv("configs/nov_14_2024/dnase_profile_annotations.tsv", sep=",", names=["pttns","Label"])

In [8]:
atac_name_counts = atac_name_counts.merge(atac_labels, right_on=["pttns"], left_on=["pattern_short"], how="left")[["pattern_short", "num_seqlets", "Label"]]
dnase_name_counts = dnase_name_counts.merge(dnase_labels, right_on=["pttns"], left_on=["pattern_short"], how="left")[["pattern_short", "num_seqlets", "Label"]]

atac_name_counts

   pattern_short  num_seqlets       Label
0            0_0        57097        CTCF
1            0_1        43446         SP1
2            0_2        26907  GATA1/TAL1
3            0_3        14790  NFE2L1/MAF
4            0_4        13182        NFYA
..           ...          ...         ...
57          0_57           75         NaN
58          0_58           44         NaN
59          0_59           37         NaN
60          0_60           33         NaN
61          0_61           31         NaN

[62 rows x 3 columns]

In [9]:
# dnase_name_counts["Label"].replace(dnase_rename, inplace=True)
# atac_name_counts["Label"].replace(atac_rename, inplace=True)

In [10]:
temp = dnase_name_counts.groupby(["Label"]).sum()
dnase_name_counts = temp.loc[:,temp.columns.isin(["Label","num_seqlets"])]
dnase_name_counts.loc[:,"num_seqlets"] = dnase_name_counts["num_seqlets"]/sum(dnase_name_counts["num_seqlets"])

In [11]:
temp = atac_name_counts.groupby(["Label"]).sum()
atac_name_counts = temp.loc[:,temp.columns.isin(["Label","num_seqlets"])]
atac_name_counts.loc[:,"num_seqlets"] = atac_name_counts["num_seqlets"]/sum(atac_name_counts["num_seqlets"])

In [12]:
dnase_name_counts.sort_values(by=["num_seqlets"],ascending=False)
#dnase_name_counts = dnase_name_counts[dnase_name_counts.loc[:,"Num_Seqlets"]>0.005].sort_values(by=["Num_Seqlets"],ascending=False)

#atac_name_counts[atac_name_counts.loc[:,"Num_Seqlets"]>0.01]

             num_seqlets
Label
GATA1/TAL1      0.218586
CTCF            0.195466
SP1             0.179906
NFE2L1/MAF      0.103140
ELK1            0.043879
NFYA            0.041689
NFIC            0.038973
GC              0.037029
TFE3            0.021948
ATF2            0.021193
NRF1            0.015136
NFE2/NFE2L1     0.014597
STAT5A          0.011354
ATF2/ATF3       0.010828
ZNF143          0.009673
NR2F1           0.007750
RFX1            0.006604
TAL1            0.004975
REST            0.004643
ZBTB33          0.003413
YY1             0.002487
CTCFL           0.001778
GATA1/GATA1     0.001515
RUNX            0.001371
ELK1/ELK1       0.000709
SP2/GABPA       0.000688
NR2F6           0.000671

In [13]:
atac_name_counts = atac_name_counts.sort_values(by=["num_seqlets"],ascending=False)

In [14]:
atac_name_counts

             num_seqlets
Label
CTCF            0.270765
SP1             0.206029
GATA1/TAL1      0.127598
NFE2L1/MAF      0.070137
NFYA            0.062512
GC              0.047431
ELK1            0.027875
NFE2/NFE2L1     0.024835
CEBPG           0.019917
ATF2            0.018039
SPI1            0.017864
ZNF143          0.016991
NFIC            0.016868
NRF1            0.015649
TFE3            0.014867
YY1             0.014601
ATF2/ATF3       0.008716
ZBTB33          0.004562
REST            0.004178
CTCFL           0.003433
ELK1/CREB1      0.002732
RFX1            0.002684
STAT5A          0.000939
TAL1            0.000778

In [15]:
merged = dnase_name_counts.merge(atac_name_counts, on="Label", how="outer").dropna()
merged.columns = ["DNASE", "ATAC"]

In [16]:
merged_new=pd.DataFrame()
merged_new["Label"]=merged.index.tolist()+merged.index.tolist()
merged_new["Source"]=["ATAC"]*merged["ATAC"].shape[0]+["DNASE"]*merged["DNASE"].shape[0]
merged_new["Value"]=merged["ATAC"].tolist()+merged["DNASE"].tolist()

In [17]:
merged_new.to_csv("configs/data/atac_versus_dnase_profile_compare_nov_2024.tsv",sep=",",header=False,index=False)
merged_new

          Label Source     Value
0          ATF2   ATAC  0.018039
1     ATF2/ATF3   ATAC  0.008716
2          CTCF   ATAC  0.270765
3         CTCFL   ATAC  0.003433
4          ELK1   ATAC  0.027875
5    GATA1/TAL1   ATAC  0.127598
6            GC   ATAC  0.047431
7   NFE2/NFE2L1   ATAC  0.024835
8    NFE2L1/MAF   ATAC  0.070137
9          NFIC   ATAC  0.016868
10         NFYA   ATAC  0.062512
11         NRF1   ATAC  0.015649
12         REST   ATAC  0.004178
13         RFX1   ATAC  0.002684
14          SP1   ATAC  0.206029
15       STAT5A   ATAC  0.000939
16         TAL1   ATAC  0.000778
17         TFE3   ATAC  0.014867
18          YY1   ATAC  0.014601
19       ZBTB33   ATAC  0.004562
20       ZNF143   ATAC  0.016991
21         ATF2  DNASE  0.021193
22    ATF2/ATF3  DNASE  0.010828
23         CTCF  DNASE  0.195466
24        CTCFL  DNASE  0.001778
25         ELK1  DNASE  0.043879
26   GATA1/TAL1  DNASE  0.218586
27           GC  DNASE  0.037029
28  NFE2/NFE2L1  DNASE  0.014597
29   NFE2L1/MAF  DNASE  0.103140
30         NFIC  DNASE  0.038973
31         NFYA  DNASE  0.041689
32         NRF1  DNASE  0.015136
33         REST  DNASE  0.004643
34         RFX1  DNASE  0.006604
35          SP1  DNASE  0.179906
36       STAT5A  DNASE  0.011354
37         TAL1  DNASE  0.004975
38         TFE3  DNASE  0.021948
39          YY1  DNASE  0.002487
40       ZBTB33  DNASE  0.003413
41       ZNF143  DNASE  0.009673